body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFE0; /* Goose yellow */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    margin-bottom: 20px;
}

.title-box {
    text-align: center;
    margin: 20px 0;
}

.title-box h1 {
    margin: 0;
    color: #333;
}

.header input, .header textarea {
    display: block;
    width: 450px;
    margin: 0 auto 10px;
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    box-sizing: border-box;
}

.header button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    width: 450px;
    margin: 0 auto 10px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.header button:hover {
    background-color: #218838;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: darkred;
}

.todo-list {
    padding: 0;
    max-height: 100vh;
    overflow-y: auto;
}

.todo-item {
    background-color: white;
    margin: 5px auto 5px;
    padding: 10px;
    border: 3px solid #ddd;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    width: 450px;
    box-sizing: border-box;
}

.title-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px 0;
}

.todo-title {
    flex-grow: 1;
    cursor: pointer;
    font-weight: bold;
}

.todo-description {
    display: none;
    padding: 5px;
    background-color: #f8f9fa;
    border-radius: 4px;
    margin-left: 24px; /* Align with title */
    white-space: pre-wrap;
}